<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
    {{>navbar}}


    {{!-- hero section start --}}


    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto ">
          <div class="row">
            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center  align-items-start flex-column">
                <h1>WE WILL HELP YOU TO</h1>
                <h1>GROW YOUR BUISNESS</h1>
                <p>We Are Team of <span class="bold-style">Professional Developers</span></p>
                <button class="btn-style btn-primary">Read More</button>

            </div>
              {{!-- right side --}}
             <div class="col-md-6 col-12 hero-text order-md-1 order-0 ">
                <figure>
                  <img src="images/growth.svg" alt="hero_section_image">
                </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
   
       {{!-- hero section ends --}}


       
    {{!-- About us section start --}}

    {{>about}}

    {{!-- About us section ends --}}


    {{!-- Our Service section start --}}

    {{>service}}

    {{!-- Our Service section ends --}}

    {{!-- Maps section start --}}

    {{>maps}}

    {{!-- Maps section ends --}}

    {{!-- Contact section start --}}

    {{>contact}}

    {{!-- Contact section ends --}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>