<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20353.69729440934!2d76.13085974324098!3d28.82011197929273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391266e6d31775a5%3A0xe445330dd21ad766!2sSector%2013%2C%20HUDA%2C%20Bhiwani%2C%20Haryana%20127021!5e0!3m2!1sen!2sin!4v1694285790183!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>